@font-face {
    font-family: "Square Peg";
    src: url('SquarePeg-Regular.ttf');
}

@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

$body-bg: black;
$body-color: white;
$list-group-bg: inherit;
$list-group-color: inherit;
$form-check-input-border: 1px solid rgba(white, .75);

li, #to-do-input {
    font-family: 'Indie Flower', cursive;
}

@import '../node_modules/bootstrap/scss/bootstrap.scss';

.checked {
    text-decoration: line-through;
}

to-do-item {
    // display: list-item;
}

