@font-face {
    font-family: "Square Peg";
    src: url('SquarePeg-Regular.ttf');
}

@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

$body-bg: black;
$body-color: white;
$list-group-bg: inherit;
$list-group-color: inherit;
$form-check-input-border: 1px solid rgba(white, .75);

// @import "../node_modules/bootstrap/scss/bootstrap.scss";

body {
    min-height: 100vh;
    margin: 0;
    display: grid;
    grid-template-rows: auto auto 1fr auto;
}

section {
    justify-self: center;
    position: sticky;
    bottom: 0;
    max-width: 80ch;
    display: grid;
}

span {
    display: flex;
}

fieldset {
    max-width: 80ch;
    margin: auto;
}

footer {
    justify-self: center;
}